<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{20} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Configure here which loggers you want to see in the
       console while running tests -->
  <logger name="ch.qos.logback" level="warn" />
  <!--<logger name="scala.meta.languageserver" level="warn" />-->

  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
