name: CI
on:
  push:
    branches:
      - main-v2
  pull_request:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  unit:
    name: ${{ matrix.os }} jdk-${{ matrix.java }} unit tests ${{ matrix.shard }} / ${{ matrix.shardCount }}
    runs-on:
      labels: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [metals-ubuntu-latest]
        java: ["17"]
        shard: [1, 2, 3, 4, 5, 6, 7, 8]
        shardCount: [8]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1
      - name: Configure git
        run: |
          # This is required for some tests that create a git repo
          git config --global user.email "ci@scalameta.org"
          git config --global user.name "CI Bot"
      - name: Run unit tests
        run: |
          bin/test.sh unit/test
        env:
          JAVA_VERSION: ${{ matrix.java }}
          TEST_SHARD: ${{ matrix.shard }}
          TEST_SHARD_COUNT: ${{ matrix.shardCount }}
          GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
          GOOGLE_APPLICATION_CREDENTIALS_JSON: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS_JSON }}
        shell: bash
      - name: Upload heap dump if exists
        uses: actions/upload-artifact@v4
        if: always()  # This ensures the step runs even if previous steps fail
        with:
          name: heap-dumps
          path: |
            ./**/*.hprof
          retention-days: 5  # Adjust as needed

  integration:
    name: ${{ matrix.name }}
    runs-on:
      labels: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        type:
          [
#            sbt,
            # bazel,
#            feature,
            cross,
            scalafmt,
            scalafix,
          ]
        include:
#          - type: sbt
#            command: |
#              bin/test.sh +sbt-metals/publishLocal
#              bin/test.sh 'slow/testOnly -- tests.sbt.*'
#            name: Sbt integration
#            os: metals-ubuntu-latest
#            java: "17"
          - type: bazel
            command: |
              bin/test.sh quick-publish-local
              bin/test.sh 'slow/testOnly -- tests.bazel.*'
            name: Bazel integration
            os: metals-ubuntu-latest
            java: "17"
#          - type: feature
#            command: bin/test.sh 'slow/testOnly -- tests.feature.*'
#            name: LSP integration tests
#            os: metals-ubuntu-latest
#            java: "17"
          - type: cross
            command: sbt +cross/test
            name: Scala cross tests
            os: metals-ubuntu-latest
            java: "17"
          - type: mtags-java
            command: sbt javapc/test
            name: Scala javapc tests
            os: metals-ubuntu-latest
            java: "17"
          - type: scalafix
            command: sbt scalafixCheck docs/docusaurusCreateSite
            name: Scalafix and docs
            os: metals-ubuntu-latest
            java: "17"
          - type: scalafmt
            command: |
              ./bin/scalafmt --test
              sbt javafmtCheckAll
            name: Formatting
            os: metals-ubuntu-latest
            java: "17"
          - type: MiMa
            command: sbt interfaces/mimaReportBinaryIssues
            name: MiMa
            os: metals-ubuntu-latest
            java: "17"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1
        with:
          sbt-runner-version: 1.10.3
      - name: ${{ matrix.command }}
        run: |
          ${{ matrix.command }}
        env:
          METALS_TEST: true
          GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
          GOOGLE_APPLICATION_CREDENTIALS_JSON: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS_JSON }}
      - name: "test download dependencies"
        run: sbt downloadDependencies
        if: matrix.type == 'cross'
