name: Release Databricks Metals
on:
  push:
    branches: [databricks]
    tags: ["*"]
concurrency:
  group: release-${{ github.ref }}
jobs:
  publish:
    runs-on:
      group: metals-protected-runner-group
      labels: metals-ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          # Do not change the version of Java, it is the minimal version Metals works with
          java-version: 17
          cache: "sbt"
      - uses: sbt/setup-sbt@v1
      - run: git fetch origin --tags
      - name: Publish
        run: |
          COMMAND="quick-publish-gh-packages"
          sbt "$COMMAND"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          METALS_VERSION: ${{ github.ref_name }}
