name: Release
on:
  push:
    branches: [main-v2]
    tags: ["**"]
concurrency:
  group: release-${{ github.ref }}
jobs:
  publish:
    runs-on: warp-ubuntu-2204-x64-2x
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          # Do not change the version of Java, it is the minimal version Metals works with
          java-version: 17
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1
      - name: Publish to Sonatype
        run: sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
