name: Release Databricks Metals
on:
  push:
    branches: [main]
    tags: ["*"]
concurrency:
  group: release-${{ github.ref }}
jobs:
  publish:
    runs-on: metals-protected-runner-group
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          # Do not change the version of Java, it is the minimal version Metals works with
          java-version: 17
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1
      - name: Publish
        run: |
          COMMAND="quick-publish-gh-packages"
          sbt "$COMMAND"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          METALS_VERSION: ${{ github.ref_name }}
