name: Sbt Dependency Graph
on:
  push:
    branches:
      - main
jobs:
  update-graph:
    name: Update graph
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: sbt/setup-sbt@v1
      - uses: scalacenter/sbt-dependency-submission@v3
